* {
  background-color: lightseagreen;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
}

h1 {
  margin-top: 2%;
  font-size: 2em;
  color: black;
}

body {
  background-color: lightseagreen;
}

input {
  margin-top: 1%;
  border-radius: 3em;
  background-color: white;
}

#borrarTodo1,
#borrarTodo2 {
  margin-top: 2%;
  margin-bottom: 2%;
  margin-right: 95%;
}

#mostrarPares {
  margin-top: 2%;
  margin-bottom: 2%;
  margin-left: 89%;
}

#mostrarFibonacci {
  margin-top: 2%;
  margin-bottom: 2%;
  margin-left: 89%;
}

.final {
  margin: auto;
  width: 20%;
  background-color: rgb(191, 231, 255);
  border-radius: 3em;
  border-style: solid;
  border-color: white;
  margin-top: 1.5%;
  margin-bottom: 1.5%;
}
